@use "./colors.scss" as *;

menubutton.BatteryMenu {
    button.ProfileButton {
        label {
            color: $primary;
        }

        &.Active {
            label {
                text-decoration: underline;
                color: $primary_fixed;
            }
        }
        
        &:not(.Active) {
            &:hover {
                label {
                    color: $primary_fixed;
                }
            }
        }
    }
}
